{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}
<br>
<div class='container'>
    <div class='row'>
        <div  class='col-md-6'>
            <div class='card card-body'>

                <p> Are you sure you want to delete = "{{items}}"?</p>
                <form action='{% url 'delete_order' items.id %}' method='POST'>
                {% csrf_token %}
                <a class="btn btn-warning" href='`{% url 'dashboard' %}'> cancel</a>
                <input class="btn btn-danger" type='submit' name='confirm'>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock  %}